<%- include header %>
		<div class="container">
			
	 		<form method="post" action="/post/add">
	 			<% if(post._id){ %>
	 				<input type="hidden" name="post[_id]" value="<%= post._id %>"/>
	 			<% } %>	
	 			<div class="input-group" style="width: 100%;">
				  <span class="">标题</span>
				  <input type="text" class="form-control" name="post[title]" value="<%= post.title %>"  aria-describedby="basic-addon1">
				</div>
	 			
	 			<div class="input-group" style="width: 100%;">
	 				<span class="">正文</span>
	 				<textarea rows="20"  class="form-control"  style="width: 100%;" name="post[content]" ><%= post.content %></textarea>
	 			</div>
	 			<div class="tagsinput-primary">
        			<input name="tagsinput-02" name="post[tag]"  class="tagsinput" data-role="tagsinput" value="School, Teacher, Colleague" style="display: none;">
		 			<div class="input-group" style="width: 100%;">
		 				<span class="">标签</span>
		 				<!--<input type="text" class="form-control"/>-->
		 				<div class="bootstrap-tagsinput">
		 					<% post.tags.forEach(function(tag){%>
								<span class="tag label label-info"><%= tag.name %>
									<span data-role="remove"></span>
								</span> 
							<% }) %>
							<input type="text" placeholder=""  style="width: 550px !important;">
						</div>
		 			</div>
		 		</div>
	 		
	 			<input type="submit" class="btn btn-hg btn-primary" style="margin-top: 20px;" id="" value="发表" />
	 			<a href="/" class="btn btn-hg btn-primary" style="margin-top: 20px;" >取消</a>
	 			

	 		</form>
 		</div>
   </body>
</html>
